<div class="col-md-2">
  <ul class="nav nav-stacked navbar-default" role="navigation">
	  <% sidebar = [["show","Score",rating_show_path],["myshow","myscored",rating_myshow_path],["allscored","allscored",rating_allscored_path]] %>
	  <% for item in sidebar %>
		  <li <% if item[0] == controller.action_name %>class="list-group-item-info" <% end %>><%= link_to item[1],item[2] %></li><% end -%>
  </ul>
</div>
<div class="col-md-10">
<div class="page-header">
	<h1><%= params[:query]%></h1>
</div>

<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Origin_id</th>
          <th>Content_type</th>
          <th>Provider</th>
          <th>Score</th>
	  <% if controller.action_name == "show" %><th>Operation</th><% end -%>
        </tr>
      </thead>
      <tbody>
	<form id="1" action="www.baidu.com" accept-charset="UTF-8" method="post">
        <tr>
          <th scope="row">1</th>
	  <td><a class="text-primary" href="#" target="_blank" >Mark</a></td>
	  <td><input id="Origin_id" type="hidden" name="Origin_id" value='123' >123</td>
	  <td><input id="Content_type" type="hidden" name="Content_type" value="law" >law</td>
	  <td><input id="Provider" type="hidden" name="Provider" value="lnc" >lnc</td>
	  <% if controller.action_name == "show"%>
          <td>
          	<ul>
				<label class="radio">
				  <input type="radio" name="Score" id="1score" value="1"> 1
				</label>
				<label class="radio">
				  <input type="radio" name="Score" id="1score" value="2"> 2
				</label>
				<label class="radio">
				  <input type="radio" name="Score" id="1score" value="3"> 3
				</label>
				<label class="radio">
				  <input type="radio" name="Score" id="1score" value="4"> 4
				</label>
          	</ul>
          </td>
	  <td><button class="btn btn-info"  onclick=scorepost(1); type="button" >Submit</button></td>
	  <% else%>
		  <td><input id="inlineRadio" type="hidden" name="Score" value="3">3<td>
	<% end -%>
        </tr>
	  </form>
      </tbody>
    </table>
    <script>
	function scorepost(id) {
		var check = $('input:radio[id="1score"]:checked').val();
		if (check == null){
			alert("Score is requireds!")
			return false;
			}
		$.ajax({
			type:"post",
			data:$("#"+id).serialize(),
			url:'/users',//目标地址
			success:function(data){
				alert("Success");
				window.location.reload();
			},
			error:function(){
				alert("error");
			}
		})

	}
	</script>
	</div>
